<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ng-container *ngFor="let task of tasks; trackBy: trackItems">
      <ion-item-sliding #slidingItem>
        <ion-item class="task-item" [ngClass]="{'task-done': task.status === 'done'}">
          <ion-avatar slot="start">
            <ion-icon name="clipboard-outline"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>{{ task.title }}</h2>
            <p>{{ task.status === 'done' ? 'Completado' : 'Pendiente' }}</p>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="success" (click)="markAsDone(slidingItem, task)">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="removeTask(slidingItem, task)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>

  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Nueva Tarea</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="addItem()" strong>Añadir</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">Nombre Tarea</ion-label>
          <ion-input type="text" [(ngModel)]="name" placeholder=""></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button id="open-modal">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
